
.portfolioBg {
    background-color: white; 
    color: #2c3e50;
    padding-top: 5rem !important;
}

.textDark {
    color: #2c3e50;
}


.portfolioItem {
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

.portfolioItemCaption {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 188, 156, 0.9);
    opacity: 0;
    transition: opacity 0.25s ease;
}

.portfolioItem:hover .portfolioItemCaption {
    opacity: 1;
}

.portfolioItemCaptionContent {
    font-size: 1.5rem;
}


.customModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 62, 80, 0.9); 
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
  
}

.customModalContent {
    background-color: white;
    padding: 5px;
  
    border-radius: 10px;
    width: 60%;
    max-width: 800px;
    position: relative;
    text-align: center;
}

.closeButton {
    position: absolute;
    top: 19%;
    right: 15px;
    background: none;
    border: none;
    color: #2c3e50;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.closeButton:hover {
    opacity: 1;
}