
.footerBg {
    background-color: #2c3e50; 
    color: white;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.copyright {
    background-color: #1a252f;
    color: rgba(255, 255, 255, 0.6);
}

.socialIcon {
    width: 3.25rem;
    height: 3.25rem;
    line-height: 3.25rem;
    font-size: 1.25rem;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}