.navbar{
  background-color: #2c3e50;
  color: white !important;
}
.back {
  background-color: #1abc9c;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 56px);
}

.navbar .nav-link {
    border-radius: 13px;
    padding: 8px 15px !important; 
    transition: background-color 0.3s, color 0.3s;
}

.navbar .nav-link.active {
    background-color: #1abc9c !important; 
    color: white !important; 
}

.navbar .nav-link:hover {
    background-color: #f2f2f2;
    color: #1abc9c !important;
}
.starSeparator {
  width: 100%;
  max-width: 400px;
}

.line {
  height: 4px;
  background-color: #fff;
  flex-grow: 1;
}

.starSeparator i {
  color: #fff;
  font-size: 1.5rem;
}

